<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Lijst met producten</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Product" asp-action="Upsert" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> &nbsp; Product toevoegen
            </a>
        </div>
    </div>
    <br /><br />

    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Titel</th>
                <th>ISBN</th>
                <th>Prijs</th>
                <th>Schrijver</th>
                <th>Categorie</th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>